@media screen and (max-width: 1136px) {
	#story {
		margin-right: 1em;
	}
}

@media screen and (max-width: 1136px) {
	#story {
		margin-left: 18.5em;
		margin-right: 1em;
	}
	#ui-bar.stowed ~ #story {
		margin-left: 3em;
	}
}

@media screen and (max-width: 768px) {
	#story {
		margin-left: 18.5em;
	}
}

@media screen and (max-width: 632px) {
    #story {
		margin-left: 3em;
	}
}
